{% extends "base.html" %}


{% block about %}
    <section id="about">
        <div class="container-fluid mx-auto">
            <div class="row justify-content-center top-part">
                <div class="col-md-8 text">
                    <div class="d-flex-inline">
                        <h4 class="footer-heading"><b>What is this?</b></h4>
                    </div>
                    <div class="d-flex-inline">
                        <p> The Ooblets API is a RESTful based on the game Ooblets. You will have access to about 100 characters, images, locations and episodes. The Ooblets API is filled with information regarding the game.</p>
                        <p>Check out the documentation to get started.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}