<h1>Add a Ooblet</h1>
<form action="#" method="post">
   <div class="form-group">
       <label for="name">Ooblet Name:</label>
       <input type="text" maxlength="100" name="name" placeholder="Name of the Ooblet">

       <label for="ooblet_description">Description:</label>
       <input maxlength="100" name="ooblet_description" placeholder="Ooblet Description">

       <label for="ooblet_battle_requirements">Battle Requirements:</label>
       <input maxlength="100" name="ooblet_battle_requirements" placeholder="Ooblet Battle Requirements">

       <label for="ooblet_location">Ooblet Location:</label>
       <input maxlength="100" name="ooblet_location" placeholder="Ooblet Location">
       
       <label for="signature_move_level_1">Signature Move Level 1:</label>
       <input maxlength="100" name="signature_move_level_1" placeholder="Signature Move Level 1">

       <label for="signature_move_level_2">Signature Move Level 2:</label>
       <input maxlength="100" name="signature_move_level_2" placeholder="Signature Move Level 2">

       <label for="signature_move_level_3">Signature Move Level 3:</label>
       <input maxlength="100" name="signature_move_level_3" placeholder="Signature Move Level 3">

       <label for="ooblet_image_link">Image Link:</label>
       <input maxlength="100" name="ooblet_image_link" placeholder="Ooblet Image Link">

       <button type="submit">Create</button>
   </div>
</form>